body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#nprogress .bar {
	background: #1a85ff;
}

#fractal-tree {
	padding-bottom: 30px;
}

/* #fractal-tree .p5Canvas {
	width: 250px !important;
	height: 60% !important;
} */

/* @media only screen and (max-width: 600px) {
	#fractal-tree {
		display: none;
	}
} */
